// Commonly used web colors
$black: #000000;            // Black
$white: #ffffff;            // White
$success-green: #79bd9a !default;    // Padua
$error-red: #df405a !default;        // Cerise
$warning-red: #ff5050 !default;      // Sunset Orange
$gold-star: #ca8f04 !default;        // Dark Goldenrod

$red-bookmark: $warning-red;

// Values from the classic Mastodon UI
$classic-base-color: #ddeceb;         // background color 
$classic-secondary-color: #8B9594;    //  navigation bar text color
$classic-highlight-color: #1A8E85;    // button background color
$classic-primary-color: #8B9594;    // 用户目录的勾选





// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;



// Tell UI to use selected colors
$ui-base-color: lighten($classic-base-color, 26%) !default;    // lightest 
$ui-base-lighter-color: $classic-base-color !default;           // darker lightest
$ui-primary-color: $classic-primary-color !default;            // Lighter darkest
$ui-secondary-color: $classic-secondary-color !default;        // darkest used on name,navigation
$ui-highlight-color: $classic-highlight-color !default;


// Variables for texts
$primary-text-color: #3B484F !default;   // dark text color used on post and button
$darker-text-color: #8B9594 !default;    // lighter text color
$dark-text-color: #8B9594 !default;  //text box default text color
$action-button-color: #8B9594 !default; //post action hyperlink color
$secondary-text-color: #3B484F !default;   //usr name
$highlight-text-color: #3B484F !default;  //return,返回





// For texts on inverted backgrounds
$inverted-text-color: $ui-base-color !default;
$lighter-text-color: $ui-base-lighter-color !default;
$light-text-color: $ui-primary-color !default;



// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;
// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 415px;

$font-sans-serif: 'mastodon-font-sans-serif' !default;
$font-display: 'mastodon-font-display' !default;
$font-monospace: 'mastodon-font-monospace' !default;
